<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352762536946-q2b21e5ite92122k076lnfgd9lfd0d49.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352762536946-q2b21e5ite92122k076lnfgd9lfd0d49</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>352762536946-97n3s3kkbpo70su0l0ep58ovndm85bub.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5K1LFdAdfTLH49y38LITTgab2J2yTZBc</string>
	<key>GCM_SENDER_ID</key>
	<string>352762536946</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plant.spotify</string>
	<key>PROJECT_ID</key>
	<string>plants-spotify</string>
	<key>STORAGE_BUCKET</key>
	<string>plants-spotify.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352762536946:ios:917466951380d2fcc5016b</string>
</dict>
</plist>